body {
  margin: 0;
  padding: 0;
  background-color: #e3ecf0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh
}

.videoPlayer {
  font-family: 'Helvetica', Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto
}

.videoPlayer video {
  display: block
}

.videoPlayer section {
  background-color: #fafafa;
  padding: 10px 20px 15px 20px
}

.videoPlayer article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px
}

.videoPlayer .fas {
  color: #1f3d4b;
  cursor: pointer;
  font-size: 25px
}

.videoPlayer .volume {
  flex: 33%;
  display: flex;
  align-items: center;
}

.videoPlayer .volumeBar {
  max-width: 60px;
  transition: width 0.5s;
}

.videoPlayer .fa-volume-mute {
  color: #9c9b9b;
}

.videoPlayer .controls {
  flex: 33%;
  text-align: center
}

.videoPlayer .time {
  flex: 33%;
  text-align: right;
}

.videoPlayer .play:before {
  content: "\f04b"
}

.videoPlayer .pause:before {
  content: "\f04c"
}

.videoPlayer .time p {
  display: inline-block;
  margin: 0;
  color: #525252;
  font-weight: 700;
  font-size: 15px;
}

/*Input range styles*/
.videoPlayer input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 7px;
    width: 100%;
    cursor: pointer;
    border-radius: 0
}

.videoPlayer input[type="range"].volumeBar {
  width: 0;
  margin-left: 10px;
}

.videoPlayer input[type="range"].volumeBar.animateVolumeBar {
  width: 100%;
}

.videoPlayer input[type="range"]:focus {
  outline: none
}

/*CRHOME*/
::-webkit-slider-runnable-track {
    background: #ddd
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 7px;
    background: #9c9b9b;
    box-shadow: -100vw 0 0 100vw #f06373
}

/*FIREFOX*/
::-moz-range-track {
    height: 7px;
    background: #ddd
}

::-moz-range-thumb {
    background: #9c9b9b;
    height: 7px;
    width: 5px;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw #f06373;
    box-sizing: border-box
}

/*IE*/
::-ms-fill-lower {
    background: #f06373
}

::-ms-thumb {
    background: #9c9b9b;
    height: 7px;
    width: 5px;
    box-sizing: border-box
}

::-ms-ticks-after {
    display: none
}

::-ms-ticks-before {
    display: none
}

::-ms-track {
    background: #ddd;
    color: transparent;
    height: 7px;
    border: none
}

::-ms-tooltip {
    display: none
}
/*End Input Range Styles*/
